// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colour Palette
$secondary: #292929;
$primary: #181818;
$accent: #42a6b8;
$accent-dark: #0a596e;

// Layout
$nav-height: 60px;
