// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import 'bootstrap/scss/bootstrap';

body {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

input {
    transition: ease-in-out;
    transition-duration: 200ms;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    padding: 10px;

    &:not(:disabled) {

        &::placeholder {
            transition: ease-in-out;
            transition-duration: 200ms;
        }

        &:focus::placeholder {
            color: $accent;
        }

        &:focus {
            border: none;
            outline: none;
            border-bottom: 2px solid $accent;
        }
    }

    &:disabled {
        background: $secondary
    }
}

button {
    transition: ease-in-out;
    transition-duration: 200ms;
    padding: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 5px;

    &:not(:disabled) {

        &.suggested {
            background-color: $accent-dark;
        }

        &:hover {
            background: $accent;

            &.destructive {
                background: darkred;
            }
        }
    }

    &:disabled {
        background-color: white;
        color: black;
        opacity: 0.2;
    }
}

.account-popup {
    position: absolute;
    top: $nav-height;
    right: 0;
    width: 30ch;
    background-color: $secondary;
    border-bottom-left-radius: 5px;
}

.menu {
    * {
        width: 100%;
    }

    * + * {
        margin-bottom: 6px;
    }
}

.router-view {
    height: calc(100vh - $nav-height);
    width: 100vw;
}

.spacer {
    margin: auto;
}
